{
  "presets": [
    [
      "next/babel",
      {
        "styled-jsx": {
          "plugins": [
            "styled-jsx-plugin-postcss"
          ]
        }
      }
    ]
  ],
  "plugins": [
    [
      "module-resolver",
      {
        "alias": {
          "dva": "dva-no-router"
        }
      }
    ],
    [
      "import",
      {
        "libraryName": "antd-mobile"
      }
    ]
  ]
}